.boxes {
    width: 100%;
    display: flex;
    background-color: #070e26;
    color: white;
    background-image: url(../photo/photo_5359800293132452049_w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .left-box {
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


        .img-box {
            height: auto;
            width: 100%;
        }
    }

    .right-box {
        .description-box {
            width: 100%;
            position: relative;
            top: 30%;
            left: 20%;
            transform: translate(-50, -50);

            .txt {
                font-size: 50px;
                font-weight: bolder;
            }

            p {
                padding: 50px 0;
                font-size: 20px;
                line-height: 25px;
            }

            a {
                border-radius: 20px;
                text-decoration: none;
                font-size: 14px;
                text-align: center;
                border: 0px solid transparent;
                background-color: black;
                color: #ffffff;
                vertical-align: middle;
                margin-top: 20px;
                padding: 12px 30px;
                display: inline-block;
                position: relative;
                overflow: hidden;

                &:hover {
                    &::after {
                        height: 0;
                    }

                    &::before {
                        transform: translateY(-10px);
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 15%;
                    width: 100%;
                    background-color: red;
                    transform: translateY(0);
                    transition: 0.2s ease-in-out 0.3s;
                }

                &::after {
                    content: "";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    transition: 0.3s ease-out;
                }

                span {
                    color: white;
                    text-transform: capitalize;
                    font-size: 14px;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}



.last-box {
    width: 100%;
    height: 5vh;
    background-color: #000;

    .end {
        width: 70%;
        margin: auto;

        .end-box-1 {
            width: 50%;
            display: flex;
            justify-content: flex-start;

            h6 {
                color: #C4C3C3;
                margin: 5px 10px;
            }

            a {
                text-decoration: none;
                color: #C4C3C3;
                display: inline-block;
                margin: 2px 8px;
                transition: 0.5s ease-in-out;

                &:hover {
                    color: red;
                }
            }
        }

        .end-box-2 {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                text-decoration: none;
                color: #C4C3C3;
                display: inline-block;
                padding-right: 0;
                margin: 2px 8px;
                transition: 0.5s ease-in-out;

                &:hover {
                    color: red;
                }
            }

        }


    }
}


// -------------------------------------------boxes end--------------

#section2 {
    background-image: url(../photo/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title {
        width: 100%;
        border-bottom: 3px solid gray;

        &:nth-child(3) {
            border-bottom: none;
        }

        .photo {
            width: 30%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .text {
            width: 70%;
            text-align: center;

            h1 {
                font-size: 70px;
                margin: 30px;
            }

            p {
                font-size: 30px;
            }
        }
    }
}

// ---------------------------------------------section 2 end-----------

#transport {
    text-align: center;

    .ways {
        border: 2px solid blueviolet;
        width: 100%;

        .way1 {
            width: 40%;

            .imgElevator {
                width: 100%;
                height: 70%;
                overflow: hidden;
                position: relative;
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0%);
                    .overlay{
                        opacity: 1;
                    }
                    img{
                        transform: scale(1.2);
                    }

                }

                .overlay{
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    background: rgba(0, 0, 0, 0.498);
                    transition: 0.1s ease-in-out;
                }
            }

        }

        .way2 {
            width: 40%;

            .imgSatellite {
                width: 100%;
                height: 70%;
            }
        }
    }
}