.boxes {
    width: 100%;
    display: flex;
    background-color: #070e26;
    color: white;
    background-image: url(../photo/photo_5359800293132452049_w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .left-box {
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


        .img-box {
            height: auto;
            width: 100%;
        }
    }

    .right-box {
        .description-box {
            width: 100%;
            position: relative;
            top: 30%;
            left: 20%;
            transform: translate(-50, -50);

            .txt {
                font-size: 50px;
                font-weight: bolder;
            }

            p {
                padding: 50px 0;
                font-size: 20px;
                line-height: 25px;
            }

            a {
                border-radius: 20px;
                text-decoration: none;
                font-size: 14px;
                text-align: center;
                border: 0px solid transparent;
                background-color: black;
                color: #ffffff;
                vertical-align: middle;
                margin-top: 20px;
                padding: 12px 30px;
                display: inline-block;
                position: relative;
                overflow: hidden;

                &:hover {
                    &::after {
                        height: 0;
                    }

                    &::before {
                        transform: translateY(-10px);
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 15%;
                    width: 100%;
                    background-color: red;
                    transform: translateY(0);
                    transition: 0.2s ease-in-out 0.3s;
                }

                &::after {
                    content: "";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    transition: 0.3s ease-out;
                }

                span {
                    color: white;
                    text-transform: capitalize;
                    font-size: 14px;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}



.last-box {
    width: 100%;
    height: 5vh;
    background-color: #000;

    .end {
        width: 70%;
        margin: auto;

        .end-box-1 {
            width: 50%;
            display: flex;
            justify-content: flex-start;

            h6 {
                color: #C4C3C3;
                margin: 5px 10px;
            }

            a {
                text-decoration: none;
                color: #C4C3C3;
                display: inline-block;
                margin: 2px 8px;
                transition: 0.5s ease-in-out;

                &:hover {
                    color: red;
                }
            }
        }

        .end-box-2 {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                text-decoration: none;
                color: #C4C3C3;
                display: inline-block;
                padding-right: 0;
                margin: 2px 8px;
                transition: 0.5s ease-in-out;

                &:hover {
                    color: red;
                }
            }
        }
    }
}

// -------------------------------------------boxes end--------------
.switch-box{
    position: fixed;
    z-index: 10;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
 
    .switch{
        position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
        #slider{
            width: 0;
            height: 0;
            margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
        }
    span{
        border: 1px solid #0eafaf;
        background-color: #0dbcc0;
        border-radius: 50px;
        position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    transition: 0.4s;
    
    #toggledark{
        position: absolute;
        height: 30px;
        width: 30px;
        right: 2.5px;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 25px;
        background-color: #dafafc;
        padding: 2px;
        border-radius: 50%;
        color: rgb(150, 189, 22);
        top: 0;
    bottom: 0;
    margin: auto 0;
    }
    #togglemoon{
        position: absolute;
        height: 30px;
        width: 30px;
        right: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 25px;
        background-color: #dafafc;
        padding: 2px;
        border-radius: 50%;
        color: rgb(195, 255, 0);
        top: 0;
    bottom: 0;
    margin: auto 0;
display: none;
    }
    }
    }
}
.go-top{
    opacity: 1;
    visibility: visible;
    bottom: 20px;
    position: fixed;
    cursor: pointer;
    right: 20px;
    color: #ffffff;
    background-color: #202647;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    border-radius: 50%;
    font-size: 22px;
    transition: .9s;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    i{
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 30px;
        margin: auto;
    line-height: 1;
    display: inline-block;
    }
}











#section2 {
    background:url(../photo/uzay3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .title {
        width: 100%;
        .overview-image {
            margin-top: 20px;
            position: relative;
            border-radius: 20%;
            width: 70%;
            overflow: hidden;
            background: url(../photo/7666160c-2ace-4fd7-aa0d-d231a7bb1e6d.jfif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

    
            img {
                width: 90%;
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                --animate-duration: 1s;
                --animate-delay: 1s;
                --animate-repeat: 1;
    
            }
    
            @keyframes ripple {
                from {
                    top: 0px;
                    left: 0px;
                    bottom: 0;
                    right: 0;
                }
    
                to {
                    right: -40px;
                    top: -40px;
                    left: -40px;
                    bottom: -40px;
                }
    
            }
    
            a {
                display: inline-block;
                width: 75px;
                height: 75px;
                line-height: 75px;
                background-color: #591616;
                border-radius: 50%;
                color: #ffffff;
                position: absolute;
                text-align: center;
                margin: auto;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 30px;
                text-decoration: none;
                transition: 0.5s;
    
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    bottom: 0;
                    left: 0;
                    border-radius: 50%;
                    border: 3px solid #ffffff;
                    animation: ripple 1s linear infinite;
                }
    
                i {
                    line-height: normal;
                    color: #ffffff;
                    text-align: center;
                    font-size: 30px;
                }
            }
        }
        .overview-image2 {
            margin-top: 20px;
            position: relative;
            border-radius: 20%;
            width: 70%;
            overflow: hidden;
            background: url(../photo/5b184a8d-1ac0-414f-b9ef-aa5b0fa8ed2d.jfif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

    
            img {
                width: 90%;
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                --animate-duration: 1s;
                --animate-delay: 1s;
                --animate-repeat: 1;
    
            }
    
            @keyframes ripple {
                from {
                    top: 0px;
                    left: 0px;
                    bottom: 0;
                    right: 0;
                }
    
                to {
                    right: -40px;
                    top: -40px;
                    left: -40px;
                    bottom: -40px;
                }
    
            }
    
            a {
                display: inline-block;
                width: 75px;
                height: 75px;
                line-height: 75px;
                background-color: #591616;
                border-radius: 50%;
                color: #ffffff;
                position: absolute;
                text-align: center;
                margin: auto;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 30px;
                text-decoration: none;
                transition: 0.5s;
    
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    bottom: 0;
                    left: 0;
                    border-radius: 50%;
                    border: 3px solid #ffffff;
                    animation: ripple 1s linear infinite;
                }
    
                i {
                    line-height: normal;
                    color: #ffffff;
                    text-align: center;
                    font-size: 30px;
                }
            }
        }
        .overview-image3 {
            margin-top: 20px;
            position: relative;
            border-radius: 20%;
            width: 70%;
            overflow: hidden;
            background: url(../photo/7666160c-2ace-4fd7-aa0d-d231a7bb1e6d.jfif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

    
            img {
                width: 90%;
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                --animate-duration: 1s;
                --animate-delay: 1s;
                --animate-repeat: 1;
    
            }
    
            @keyframes ripple {
                from {
                    top: 0px;
                    left: 0px;
                    bottom: 0;
                    right: 0;
                }
    
                to {
                    right: -40px;
                    top: -40px;
                    left: -40px;
                    bottom: -40px;
                }
    
            }
    
            a {
                display: inline-block;
                width: 75px;
                height: 75px;
                line-height: 75px;
                background-color: #591616;
                border-radius: 50%;
                color: #ffffff;
                position: absolute;
                text-align: center;
                margin: auto;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 30px;
                text-decoration: none;
                transition: 0.5s;
    
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    bottom: 0;
                    left: 0;
                    border-radius: 50%;
                    border: 3px solid #ffffff;
                    animation: ripple 1s linear infinite;
                }
    
                i {
                    line-height: normal;
                    color: #ffffff;
                    text-align: center;
                    font-size: 30px;
                }
            }
        }

        &:nth-child(3) {
            border-bottom: none;
        }

        .photo {
            width: 30%;

            img {
                width: 100%;
                height: 100%;
            }
        }
        @keyframes lefttoright {
            from {
                left: 0;
            }

            to {
                left: 100%;
            }

        }
        .text {
            width: 70%;
            text-align: center;

            h1 {
                font-size: 70px;
                margin: 30px;
                color: white;
            }
            .bar {
                height: 5px;
                width: 100px;
                background: #da3f07;
                position: relative;
                border-radius: 5px;
                overflow: hidden;
                margin-left: 47%;
                margin-bottom: 20px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 7px;
                    background-color: #f3eaea;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-name: lefttoright;



                }
            }

            p {
                font-size: 30px;
                color: #ffffff;
            }
        }
    }
}

// ---------------------------------------------section 2 end-----------

#transport {
    text-align: center;
    background-image: url(https://wallpaperaccess.com/full/1314202.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    h1{
        font-size: 50px;
        padding: 30px;
    }
    p{
        font-size: large;
        padding: 30px;
    }

    .ways {
        width: 100%;
        .way1 {
            margin: 10px;
            width: 50%;
            overflow: hidden;
            position: relative;
            border-radius: 30px;

            &:hover {
                 .imgElevator {
                    transform: scale(1.2);
                    filter: grayscale(0%);
                }

                .overlay {
                    opacity: 1;
                }
            }

            .overlay {
                display: flex;
                text-align: center;
                flex-direction: column;
                align-items: center;
                position: absolute;
                width: 100%;
                height:100%;
                top: 0;
                left: 0;
                opacity: 0;
                background: rgba(0, 0, 0, 0.498);
                transition: 0.1s ease-in-out;

                h3 {
                    margin: 50%;
                    font-size: 50px;
                    color: white;
                }
            }

            .imgElevator {
                width: 100%;
                height: auto;
                filter: grayscale(100%);
                transition: 0.5s ease-in-out;
            }
        }

        .way2 {
            width: 40%;

            .imgSatellite {
                width: 100%;
                height: 70%;
            }
        }
    }
}