@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Hind:wght@300;400;500;600;700&family=Trispace:wght@300;400;500;600;700;800&display=swap');
// Color

$galacticblue : #0A1926;
$darkpink : #F28B66;
$pomegranade : #BF4539;
$blood : #591616;
$darkblue : #070E26;



// Fonts

$SpaceFont : 'Trispace', sans-serif;;


.custom-width{
    width: 86%;
    margin: auto;
}

a{
    text-decoration: none;
}